@tailwind base;
@tailwind components;
@tailwind utilities;

.red-outline {
	outline: 2px red solid;
}

.blue-outline {
	outline: 2px blue solid;
}

.orange-outline {
	outline: 2px orange solid;
}

.book-shadow {
	--box-shadow-color: #fde68a;
	box-shadow: 0px 0px 17px var(--box-shadow-color);
}

.nasa-shadow {
	--box-shadow-color: #6366f1;
	box-shadow: 0px 0px 17px var(--box-shadow-color);
}

.pac-shadow {
	--box-shadow-color: #f87171;
	box-shadow: 0px 0px 17px var(--box-shadow-color);
}

.beer-shadow {
	--box-shadow-color: #fcd34d;
	box-shadow: 0px 0px 17px var(--box-shadow-color);
}

@layer utilities {
	@variants responsive {
		.lg-img {
			width: 700px;
			height: 375px;
		}
		.md-img {
			width: 700px;
			height: 400px;
		}
		.sm-img {
			min-width: 90%;
			width: 90%;
			height: 275px;
		}
		
	}
}
